<div class="btn-group">
  <button type="button" class="btn btn-info btn-sm">Action</button>
  <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <% if action_name == 'index' %>
      <a class="dropdown-item " href="#"><%= link_to 'Show Password', password_path(password) ,class: "padding-left"%></a>
    <% end %>
    <a class="dropdown-item" href="#"><%= link_to "Edit Password", edit_password_path(password), class: "padding-left"%></a>
    <a class="dropdown-item" href="#"><%= link_to "Destroy Password", password_path(password), method: :delete,
                         data: { confirm: "Are you sure? "} ,class: "padding-left"%></a>
</div>